@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
   background-color: #202020; 
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* NAV */

#lista-nav{
    display: flex;
    margin-left: 40%;
    margin-top: -4%;
}

/* PADDING ENTRE OS BOTÕES DA LISTA */

#li-nav{
    padding: 5px;
}

/* BOTÃO COM EFEITO HOVER {BOTÕES PARA NAVEGAÇÃO} */

.btn-gradient-nav {

    width: auto;
    font-size: 1em;
    padding: 5px 15px;
    border: none;
    outline: none;
    background: #313131;
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 0;
    border-radius: 8px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.btn-gradient-nav::before {
 
  position: absolute;   
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: linear-gradient(124deg, #a200ff, #0400ff);
  background-size: 400%;
  z-index: -1;
  filter: blur(3px);
  animation: move 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 8px;
  text-decoration: none;
}

.btn-gradient-nav:hover::before { opacity: 1; }

.btn-gradient-nav::after {

  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #292929;
  left: 0;
  top: 0;
  border-radius: 8px;

}

@keyframes move {

  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }

}

/*HEADER*/

.navegacao{
    background-color: #202020;
    height: 130px;
    margin-top: -2%;
}

.content{
    height: 847px;
    background-color: #202020
}

.card{
    height: 600px;
    width: 500px;
    background: linear-gradient(rgb(80, 36, 240), #a200ff);
    border: 2px solid transparent;
    border-radius: 20px;
    margin-top: -40%;
    margin-left: 60%;
    position: absolute;
}

.card-sombra{
    height: 600px;
    width: 500px;
    background-color: #4d4d4d;
    border: 2px solid transparent;
    border-radius: 20px;
    margin-top: -39%;
    margin-left: 61%;
}

#title{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    position: absolute;
    margin-top: -5%;
    margin-left: 1.5%;
    font-size: 25pt;
}

#title-2{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    position: absolute;
    margin-top: -3%;
    margin-left: 1.5%;
    font-size: 12pt;
    opacity: 85%;
}

#img-inicio{
    margin-top: -30.5%;
    margin-left: -0.5%;
    width: 504px;
    border-radius: 20px;
}

#txt-card{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 23pt;
    margin-top: 5%;
    margin-left: 1%;
}

#txt-content{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 30pt;
    margin-top: 10%;
    margin-left: 5%;
    position: absolute;
}


/* BOTÃO COM EFEITO HOVER */


.btn-gradient {

    width: auto;
    font-size: 15pt;
    padding: 15px 30px;
    border: none;
    outline: none;
    background: #313131;
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 0;
    border-radius: 50px;
    position: absolute;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin-top: 21%;
    margin-left: 20%;
}

.btn-gradient::before {
 
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: linear-gradient(124deg, #a200ff, #0400ff);
  background-size: 400%;
  z-index: -1;
  filter: blur(3px);
  animation: move 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  text-decoration: none;
}

.btn-gradient:hover::before { opacity: 1; }

.btn-gradient::after {

  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #292929;
  left: 0;
  top: 0;
  border-radius: 10px;

}

@keyframes move {

  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }

}

/* CARDS COM OS CURSOS DISPONÍVEIS OU PRINCIPAIS */

.corpo{
    border: 2px solid transparent;
    height: 250px;
    width: 200px;
    padding: 5px;
    float: left;
    margin: 1.5%;
    background-color: rgb(46, 46, 46);
    color: #ffffff;
    font-size: 20px;
    opacity: 74%;
    border-radius: 10px;
}

.corpo:hover{
    border: 2px solid #6f00ff;
    transition: 0.3s all;
}

#conteudo{
    position: relative;
    display: block;
    margin-top: 15%;
    margin-left: 5%;
}

#title-conteudo{
    color: white;
    font-size: 22pt;
    margin-left: 2%;
    font-family: 'Poppins', sans-serif;
}